@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.container{
  position: relative;
  padding: 0 100px;
  min-height: 100vh;
}
.container:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #333;
  z-index: -2;
}
.container:after{
  content: 'Delicious';
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 15vw;
  z-index: -2;
  font-weight: 700;
  color: #000;
  opacity: 0.04;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
header .logo{
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  font-size: 30px;
}
header .logo span{
  color: #78ff00;
}
